<header class="header-section ">

<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{ include.type }}-heading">
          <h1>{{ page.title }}</h1>
            <hr class="small">
            {% if page.use-subtitle %}
            <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
            {% endif %}
      </div>
      </div>
    </div>
  </div>
</div>

</header>
